{#
 * This file is part of the project tutteli/purchase published under the Apache License 2.0
 * For the full copyright and license information, please have a look at LICENSE in the
 * root folder or visit https://github.com/robstoll/purchase
 #}

{% set name = 'purchase' %}
{% set preWork = 'purchases/new.tpl' %}
{% set formAction = path('post_purchase') %}
{% set formSubmit = 'purchaseCtrl.createPurchase($event)' %}
{% set btnText = 'purchases.create'|trans %}
{% extends 'TutteliAppBundle::form.layout.html.twig' %}

{% block title %} Add Purchase | {{ parent() }}{% endblock %}

{% block form_content %}
    {%  include 'TutteliAppBundle:Purchase:form.incl.twig' %}
{% endblock %}

{% block before_footer %}
	<div class="totalContainer hidden" ng-class="{showBlock: purchaseCtrl.positionManager.positions.length > 1}">
   		<hr/>
   		<label>{{ 'purchase.total'|trans }}</label>
   		<span class="total pull-right" ng-bind="purchaseCtrl.positionManager.getTotal()"></span>
   		<div class="clear"></div>
   	</div>
{% endblock %}   	

{% block footer_left_button %}
	<button style="display:none" type="button" id="purchase_add" class="btn-default btn" ng-disabled="purchaseCtrl.isDisabled()" ng-click="purchaseCtrl.positionManager.addPosition()"><i class="glyphicon glyphicon-plus"></i> {{ 'purchase.add'|trans }}</button>
{% endblock %}
 