{#
 * This file is part of the project tutteli/purchase published under the Apache License 2.0
 * For the full copyright and license information, please have a look at LICENSE in the
 * root folder or visit https://github.com/robstoll/purchase
 #}
 
<div class="form-group">
	<label class="control-label" for="category_name">{{ 'categories.name'|trans }}</label>
	<input type="text" id="category_name" name="username" required="required" ng-model="categoryCtrl.name" ng-disabled="categoryCtrl.isDisabled()" class="form-control" />
</div>                    	
