html, body {
	height: 100%;
}
body {
	padding-top: 70px;
}

.modal-content {
	padding: 10px;
    padding-bottom: 0;
}

.waiting *{ cursor: wait !important; }

#loader {
	visibility: hidden;
    background-image: url(../images/loader.gif);
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;    
    margin-top: 8px;
    margin-right: 5px;
    margin-left: 9px;
    float:left
}

#loader.loading {
	visibility: visible;
}

.error-report {
	border: 1px dashed #CCC;
	padding: 10px;
	display: none;
	background-color: #FFF;
	overflow-x: auto;
}

.closePosition {
	float: right;
	cursor: pointer;
	display: none;
}

.closePosition.showBlock {
	display: block;
}


.navbar-collapse.hidden, .navbar-toggle.hidden {
    display: none !important;
}

@media (min-width: 768px) {
	.navbar-toggle.showBlock {
	   /* only needs to be shown if not mobile */
	   display: none !important;
	}
    .navbar-collapse.hidden.showBlock {
        display: block !important;
    }
}

@media (max-width: 768px) {
	 .navbar-toggle.hidden.showBlock {
        display: block !important;
    }
    .navbar-collapse.hidden.showBlock.in {
        display: block !important;
    }
}	

.hidden.showList {
    display: list-item !important;
}

.calc {
	display:none;
}

.calc div {
    margin-bottom: 8px;
}
.calc button {
    margin-right: 8px;
}
.calc .op {
    margin-left: 8px;
    width: 34px;
}
.calc .dot {
    margin-left: 0;
}
.calc .zero {
    width: 76px;
}

.calc .del {
	font-size: 0.8em;
	padding-left: 2px;
	padding-right: 2px;
}

.footer {
	margin-top:20px;
}

.clear {
	clear: both;
}

@media (max-width: 768px) {
	.footer {
	  position: fixed;
	  bottom: 0;
	  width: 100%;
	  /* Set the fixed height of the footer here */
	  height: 60px;
	  background-color: #101010;
	  left: 0;
	  padding: 10px;
	  padding-bottom: 0px;
	  z-index: 2;
	}
	
	.form-group.last {
	   margin-bottom: 85px;
	}
	
	.calc {
        display: block;
    }
	
}