html, body {
	height: 100%;
}
body {
	padding-top: 70px;
}

.modal-content {
	padding: 10px;
    padding-bottom: 0;
}

.waiting *{ cursor: wait !important; }

#loader {
	visibility: hidden;
    background-image: url(../images/loader.gif);
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;    
    margin-top: 8px;
    margin-right: 5px;
    margin-left: 9px;
    float:left
}

#loader.loading {
	visibility: visible;
}

.error-report {
	border: 1px dashed #CCC;
	padding: 10px;
	display: none;
	background-color: #FFF;
	overflow-x: auto;
}

.closePosition {
	float: right;
	cursor: pointer;
	display: none;
}

.closePosition.showBlock {
	display: block;
}


.navbar-collapse.hidden, .navbar-toggle.hidden {
    display: none !important;
}

@media (min-width: 768px) {
	.navbar-toggle.showBlock {
	   /* only needs to be shown if not mobile */
	   display: none !important;
	}
    .navbar-collapse.hidden.showBlock {
        display: block !important;
    }
}

@media (max-width: 768px) {
	 .navbar-toggle.hidden.showBlock {
        display: block !important;
    }
    .navbar-collapse.hidden.showBlock.in {
        display: block !important;
    }
}	

.hidden.showBlock {
	display: block !important;
}
.hidden.showList {
    display: list-item !important;
}

.calc {
	display:none;
}

.calc div {
    margin-bottom: 8px;
}
.calc div.btn {
    margin-right: 8px;
    margin-bottom: 0px;
}
.calc .op {
    margin-left: 8px;
    width: 34px;
}
.calc .dot {
    margin-left: 0;
}
.calc .zero {
    width: 76px;
}

.calc .del {
	font-size: 0.8em;
	padding-left: 2px;
	padding-right: 2px;
}

.footer {
	margin-top:20px;
}

.clear {
	clear: both;
}

.total {
    border: 1px solid #CCC;
    font-weight: 700;
    background-color: #eee;
    border-radius: 5px;
    padding: 6px;
    padding-left: 12px;
    padding-right: 12px;
}

.notice {
	color: #AAA;
	font-size: 0.9em;
}

#updateBlock {
	display:none;
}

#updateBlock.showBlock {
    display: block;
}

.preload .position {
	display:none;
}

@media (max-width: 768px) {
	.footer {
	  position: fixed;
	  bottom: 0;
	  width: 100%;
	  /* Set the fixed height of the footer here */
	  height: 60px;
	  background-color: #101010;
	  left: 0;
	  padding: 10px;
	  padding-bottom: 0px;
	  z-index: 2;
	}
	
	.form-group.last,
	.beforeFooter {
	   margin-bottom: 85px;
	}
	.form-group.last.extraMargin {
	   margin-bottom: 145px;
	}
	
	div.totalContainer {
	   position: fixed;
	   bottom: 60px;
	   left: 0;
	   right: 0;
	   background-color: #EEE;
	   padding-left: 20px;
	   padding-right: 20px;
	   padding-bottom: 5px;
	   padding-top: 10px;
	   z-index: 2;
	   border-top: 1px solid #CCC;
	}
	
	div.totalContainer hr {
	   display: none;
	}
	
	div.totalContainer .total {
	   border:0;
	   padding:0;
	}
	
	.calc {
        display: block;
    }
	
}