{#
 * This file is part of the project tutteli/purchase published under the Apache License 2.0
 * For the full copyright and license information, please have a look at LICENSE in the
 * root folder or visit https://github.com/robstoll/purchase
 #}

{% set name = 'password' %}
{% set preWork = 'users/change-password.tpl' %}
{%  set formAction = notXhr ? path('put_user_password', {'userId': userId}) : '' %}
{%  set formSubmit = 'passwordCtrl.changePassword($event)' %}
{% set btnText = 'password.change'|trans %}
{% extends 'TutteliAppBundle::form.layout.html.twig' %}

{% block title %} Change Password | {{ parent() }}{% endblock %}


{% block form_content %}
    
	<div class="form-group">
    	<label class="control-label" for="password_oldPw">{{ 'password.old'|trans }}</label>
    	<input type="password" id="password_oldPw" name="oldPw" required="required" ng-model="passwordCtrl.oldPw" class="form-control" ng-disabled="passwordCtrl.isDisabled()" />
    	<script type="text/javascript">
    		document.getElementById('password_oldPw').focus();
    	</script>
	</div>   
	<div class="form-group">
    	<label class="control-label" for="password_newPw">{{ 'password.new'|trans }}</label>
    	<input type="password" id="password_newPw" name="newPw" required="required" ng-model="passwordCtrl.newPw" class="form-control" ng-disabled="passwordCtrl.isDisabled()"  />
	</div> 
	<div class="form-group">
    	<label class="control-label" for="password_repeatPw">{{ 'password.repeat'|trans }}</label>
    	<input type="password" id="password_repeatPw" name="repeatPw" required="required" ng-model="passwordCtrl.repeatPw" class="form-control" ng-disabled="passwordCtrl.isDisabled()"  />
	</div>
	                  
{% endblock %}