<html>
<head>New User Account</head>
<body>
<h2>Hello {{ user.username }}</h2>

<p>Someone created a user account for you. Following your login information:</p>
<p>Username: {{ user.username }}</p>
<p>Password: {{ user.plainPassword }}</p>
<br/>
<p>Visit {{ baseUrl }} to login.</p>
<hr/>
<p>This is an automatic generated email by the web-app &quot;Purchase&quot; -- please do not respond.</p>

</body>
</html>