{#
 * This file is part of the project tutteli/purchase published under the Apache License 2.0
 * For the full copyright and license information, please have a look at LICENSE in the
 * root folder or visit https://github.com/robstoll/purchase
 #}
 
{% set name = 'password' %}
{% set preWork = 'users/reset-password.tpl' %}
{% set formAction = notXhr ? path('put_reset_user_password', {'userId': userId}) : '' %}
{% set formSubmit = 'passwordCtrl.resetPassword($event)' %}
{% set btnText = 'password.reset'|trans %}
{% extends 'TutteliAppBundle::form.layout.html.twig' %}

{% block title %} Reset Password | {{ parent() }}{% endblock %}

{% block form_content %}

	<div class="form-group">
    	<label class="control-label" for="password_forUser">{{ 'password.resetForUser'|trans }}</label>
    	<span class="form-control" disabled="disabled" ng-bind="passwordCtrl.getUsername()"></span>
    </div>   

{% endblock %}

{% block form_submit_icon %}
	<i class="glyphicon glyphicon-plus"></i><i class="glyphicon glyphicon-lock"></i>
{% endblock %}